h1 {
    color: blue;
    text-align: center;
}

footer{
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

footer p {
    margin: 0 auto;
}

.app{
    display: flex;
}

.input-panel, .output-panel{
    width: 50%;
    text-align: center;
}

.input, .output{
    text-align: left;
    width: 80%;
    height: 81vh;
}

.invalid{
    border: 1px solid red;
}
.valid{
    border: 1px solid green;
}